Cách sử dụng DF tương tự như excel.

Có 2 cách để tạo 1 DF:

- Cách 1: tạo thủ công

- Cách 2: load dữ liệu từ dataFile (thường là file csv)

### Cách 1: Tạo thủ công DataFrame

In [1]:
import pandas as pd 

# Create a dictionary of Pandas Series 
items = {
    'Bob' : pd.Series(data = [245, 35, 33],
                      index = ['bike', 'pants', 'watch']),
    'Alice' : pd.Series(data = [40, 110, 500, 45], 
                             index = ['book', 'glasses', 'bike', 'pants'])
}

In [2]:
print(type(items))

<class 'dict'>

Chuyển DataFrame bằng cú pháp sau:

In [3]:
shopping_carts = pd.DataFrame(items)

In [4]:
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     35.0   45.0
watch     33.0    NaN

Bod và Alice là chỉ số cột, `index` sẽ là những chỉ số đại diện cho dòng, và `data` sẽ thành dữ liệu dủa DF.

Cần chú ý các giá trị NaN ( cần phải xử lý )

Nếu index không tạo dictionary items:

In [5]:
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}

# We create a DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

Chỉ số index là bắt đầu từ 0.

### Cú pháp lấy thông tin từ DF:

In [6]:
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     35.0   45.0
watch     33.0    NaN

In [7]:
print('shopping_carts has shape:', shopping_carts.shape)

shopping_carts has shape: (5, 2)

In [8]:
print('shopping_carts has dimension:', shopping_carts.ndim)

shopping_carts has dimension: 2

In [9]:
print('shopping_carts has a total of:', shopping_carts.size, 'elements')

shopping_carts has a total of: 10 elements

In [10]:
print('The data in shopping_carts is:\n', shopping_carts.values)

The data in shopping_carts is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 35.  45.]
 [ 33.  nan]]

In [11]:
print('The row index in shopping_carts is:', shopping_carts.index)

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

In [12]:
print('The column index in shopping_carts is:', shopping_carts.columns)

The column index in shopping_carts is: Index(['Bob', 'Alice'], dtype='object')

Tạo DF bằng List:

In [13]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

df = pd.DataFrame(data)
df

   Integers  Floats
0         1     4.5
1         2     8.2
2         3     9.6

### Dùng dictionaries để tạo DF

In [14]:
# We create a list of Python dictionaries
items = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items)

store_items

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

Truy xuất các phần tử của DF

In [15]:
# We create a list of Python dictionaries
items = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items, index = ['store 1', 'store 2'])

store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [16]:
# Số lượng bikes 
print(store_items[['bikes']])

         bikes
store 1     20
store 2     15

In [17]:
# bikes and pants 
print(store_items[['bikes', 'pants']])

         bikes  pants
store 1     20     30
store 2     15      5

In [18]:
# all items in Store1 
print(store_items.loc[['store 1']])

         bikes  pants  watches  glasses
store 1     20     30       35      NaN

In [19]:
print(store_items.loc[['store 2']])

         bikes  pants  watches  glasses
store 2     15      5       10     50.0

In [20]:
# Bikes in store 2
print(store_items['bikes']['store 2'])

15

Cú pháp **thêm một cột** và cách dùng list.

In [21]:
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [22]:
store_items['shirts'] = [15, 2]
store_items

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN      15
store 2     15      5       10     50.0       2

Để **thêm 1 hàng** cho DF, chúng ta tạo 1 DF mới lưu dữ liệu hàng chúng ta muốn thêm, sau đó add nó vào DF cũ.

In [23]:
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

In [24]:
new_store = pd.DataFrame(new_items, index = ['store 3'])

new_store

         bikes  pants  watches  glasses
store 3     20     30       35        4

In [25]:
store_items = store_items.append(new_store, sort=False)

store_items

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN    15.0
store 2     15      5       10     50.0     2.0
store 3     20     30       35      4.0     NaN

In [26]:
# Chèn cột shoes vào vị trí thứ 4
store_items.insert(4, 'shoes', [8, 5, 0])
store_items

         bikes  pants  watches  glasses  shoes  shirts
store 1     20     30       35      NaN      8    15.0
store 2     15      5       10     50.0      5     2.0
store 3     20     30       35      4.0      0     NaN

Muốn xoá phần tử trong DF. Có thể dùng `.pop()` hoặc `.drop()`.

`.pop()` dùng để delete cột, còn `.drop()` thì cả cột và hàng bằng cách thay đổi chỉ số axis (số 1 là cột, số 0 là hàng)

In [27]:
store_items = store_items.drop(['watches', 'shoes'], axis = 1)
store_items

         bikes  pants  glasses  shirts
store 1     20     30      NaN    15.0
store 2     15      5     50.0     2.0
store 3     20     30      4.0     NaN

In [28]:
store_items = store_items.drop(['store 2'], axis = 0)
store_items

         bikes  pants  glasses  shirts
store 1     20     30      NaN    15.0
store 3     20     30      4.0     NaN

### Xử lý giá trị NaN

In [29]:
# We create a list of Python dictionaries
items = [{'bikes': 20, 'pants': 30, 'watches': 35, 
          'shirts': 15, 'shoes':8, 'suits':45},
         {'watches': 10, 'glasses': 50, 'bikes': 15, 
          'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
         {'bikes': 20, 'pants': 30, 'watches': 35, 
          'glasses': 4, 'shoes':10}]
# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items, index = ['store 1', 'store 2', 'store 3'])
# We display the DataFrame
store_items

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [30]:
# giá trị NaN 
desc = store_items.isnull().sum()
desc

bikes      0
pants      0
watches    0
shirts     1
shoes      0
suits      1
glasses    1
dtype: int64

In [31]:
# tổng số lượng phần tử có giá trị NaN
store_items.isnull().sum().sum()

3

Bản chất NaN không có ý nghĩa gì khi đưa các thuật toán để trainning. Có thể áp dụng phương thức như `.dropna(axis=0/1)`, nhưng phương thức này có nhược điểm là xoá luôn cả dòng hoặc cột chứa NaN, dữ liệu sẽ bị mất.

Một phương pháp khác thay thế:

In [32]:
store_items = store_items.fillna(0)
store_items

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      0.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     0.0     10    0.0      4.0