Xử lý bảng dữ liệu cổ phiếu của Yahoo cung cấp!

In [2]:
import pandas as pd

# Load Google stock data in a DataFrame
Google_stock = pd.read_csv('GOOG.csv')

# Print some information about Google_stock
print('Google_stock is of type:', type(Google_stock))

Google_stock is of type: <class 'pandas.core.frame.DataFrame'>

In [3]:
print('Google_stock has shape:', Google_stock.shape)

Google_stock has shape: (251, 7)

In [4]:
Google_stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-08-22,1200.000000,1211.839966,1199.000000,1207.329956,1207.329956,887400
1,2018-08-23,1207.140015,1221.280029,1204.239990,1205.380005,1205.380005,992600
2,2018-08-24,1208.819946,1221.650024,1206.359009,1220.650024,1220.650024,946600
3,2018-08-27,1227.599976,1243.089966,1225.715942,1241.819946,1241.819946,1156300
4,2018-08-28,1241.290039,1242.545044,1228.689941,1231.150024,1231.150024,1304000
5,2018-08-29,1237.449951,1250.660034,1236.359009,1249.300049,1249.300049,1298900
6,2018-08-30,1244.229980,1253.635010,1232.589966,1239.119995,1239.119995,1331400
7,2018-08-31,1234.979980,1238.660034,1211.285034,1218.189941,1218.189941,1816400
8,2018-09-04,1204.270020,1212.989990,1192.500000,1197.000000,1197.000000,1831000
9,2018-09-05,1193.800049,1199.010010,1162.000000,1186.479980,1186.479980,2061300
10,2018-09-06,1186.300049,1186.300049,1152.000000,1171.439941,1171.439941,1888500
11,2018-09-07,1158.670044,1175.260010,1157.214966,1164.829956,1164.829956,1401300
12,2018-09-10,1172.189941,1174.540039,1160.109985,1164.640015,1164.640015,1115400
13,2018-09-11,1161.630005,1178.680054,1156.239990,1177.359985,1177.359985,1209300
14,2018-09-12,1172.719971,1178.609985,1158.359985,1162.819946,1162.819946,1295500
15,2018-09-13,1170.739990,1178.609985,1162.849976,1175.329956,1175.329956,1431200
16,2018-09-14,1179.099976,1180.425049,1168.329956,1172.530029,1172.530029,944000
17,2018-09-17,1170.140015,1177.239990,1154.030029,1156.050049,1156.050049,1306500
18,2018-09-18,1157.089966,1176.079956,1157.089966,1161.219971,1161.219971,1203600
19,2018-09-19,1164.979980,1173.209961,1154.579956,1171.089966,1171.089966,1191400
20,2018-09-20,1179.989990,1189.890015,1173.359985,1186.869995,1186.869995,1225400
21,2018-09-21,1192.000000,1192.209961,1166.040039,1166.089966,1166.089966,4405600
22,2018-09-24,1157.170044,1178.000000,1146.910034,1173.369995,1173.369995,1271000
23,2018-09-25,1176.150024,1186.880005,1168.000000,1184.650024,1184.650024,977700
24,2018-09-26,1185.150024,1194.229980,1174.765015,1180.489990,1180.489990,1462300
25,2018-09-27,1186.729980,1202.099976,1183.630005,1194.640015,1194.640015,1260800
26,2018-09-28,1191.869995,1195.410034,1184.500000,1193.469971,1193.469971,1380600
27,2018-10-01,1199.890015,1209.900024,1190.300049,1195.310059,1195.310059,1357600
28,2018-10-02,1190.959961,1209.959961,1186.630005,1200.109985,1200.109985,1687900
29,2018-10-03,1205.000000,1206.410034,1193.829956,1202.949951,1202.949951,1256200
...,...,...,...,...,...,...,...
221,2019-07-11,1143.250000,1153.069946,1139.579956,1144.209961,1144.209961,1195500
222,2019-07-12,1143.989990,1147.339966,1138.780029,1144.900024,1144.900024,864000
223,2019-07-15,1146.859985,1150.819946,1139.400024,1150.339966,1150.339966,903800
224,2019-07-16,1146.000000,1158.579956,1145.000000,1153.579956,1153.579956,1238800
225,2019-07-17,1150.969971,1158.359985,1145.770020,1146.349976,1146.349976,1170000
226,2019-07-18,1141.739990,1147.604980,1132.729980,1146.329956,1146.329956,1291300
227,2019-07-19,1148.189941,1151.140015,1129.619995,1130.099976,1130.099976,1647200
228,2019-07-22,1133.449951,1139.250000,1124.239990,1138.069946,1138.069946,1301500
229,2019-07-23,1144.000000,1146.900024,1131.800049,1146.209961,1146.209961,1093700
230,2019-07-24,1131.900024,1144.000000,1126.989990,1137.810059,1137.810059,1589800
231,2019-07-25,1137.819946,1141.699951,1120.920044,1132.119995,1132.119995,2209800
232,2019-07-26,1224.040039,1265.550049,1224.000000,1250.410034,1250.410034,4805800
233,2019-07-29,1241.050049,1247.369995,1228.229980,1239.410034,1239.410034,2223700
234,2019-07-30,1225.410034,1234.869995,1223.300049,1225.140015,1225.140015,1453300
235,2019-07-31,1223.000000,1234.000000,1207.764038,1216.680054,1216.680054,1725500
236,2019-08-01,1214.030029,1234.109985,1205.719971,1209.010010,1209.010010,1698500
237,2019-08-02,1200.739990,1206.900024,1188.939941,1193.989990,1193.989990,1645100
238,2019-08-05,1170.040039,1175.239990,1140.140015,1152.319946,1152.319946,2597500
239,2019-08-06,1163.310059,1179.959961,1160.000000,1169.949951,1169.949951,1709400
240,2019-08-07,1156.000000,1178.444946,1149.624023,1173.989990,1173.989990,1444300
241,2019-08-08,1182.829956,1205.010010,1173.020020,1204.800049,1204.800049,1468000
242,2019-08-09,1197.989990,1203.880005,1183.603027,1188.010010,1188.010010,1065700
243,2019-08-12,1179.209961,1184.959961,1167.671997,1174.709961,1174.709961,1003000
244,2019-08-13,1171.459961,1204.780029,1171.459961,1197.270020,1197.270020,1294400
245,2019-08-14,1176.310059,1182.300049,1160.540039,1164.290039,1164.290039,1578700
246,2019-08-15,1163.500000,1175.839966,1162.109985,1167.260010,1167.260010,1218700
247,2019-08-16,1179.550049,1182.719971,1171.810059,1177.599976,1177.599976,1313300
248,2019-08-19,1190.089966,1206.989990,1190.089966,1198.449951,1198.449951,1231600
249,2019-08-20,1195.250000,1196.060059,1182.109985,1182.689941,1182.689941,915500
250,2019-08-21,1193.150024,1199.000000,1187.430054,1191.250000,1191.250000,740700

Thông thường dữ liệu rất dài, chúng ta muốn xem 1 số đại diện coi nó ra sao thì có 2 lệnh: `.head(N)` và `.tail(N)` để show số dòng N đầu tiên hoặc cuối cùng (mặc định N = 5)

In [5]:
Google_stock.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-08-22,1200.000000,1211.839966,1199.000000,1207.329956,1207.329956,887400
1,2018-08-23,1207.140015,1221.280029,1204.239990,1205.380005,1205.380005,992600
2,2018-08-24,1208.819946,1221.650024,1206.359009,1220.650024,1220.650024,946600
3,2018-08-27,1227.599976,1243.089966,1225.715942,1241.819946,1241.819946,1156300
4,2018-08-28,1241.290039,1242.545044,1228.689941,1231.150024,1231.150024,1304000